// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}


.bg-gpn-yellow {
    background-color: rgb(239, 201, 0);
}

.bg-gpn-blue1 {
    background-color: #DDE1EF;
}

.btn-gpn-yellow {
  font-weight: 600;
  color: #000;
  background-color: rgb(239, 201, 0);
  border-color: rgb(239, 201, 0);
}

.btn-gpn-yellow:hover {
  color: #000;
  background-color: rgb(239, 201, 0);
  border-color: rgb(239, 201, 0);
}

.form-control-gpn {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 600;
    line-height: 1.6;
    color: #212529;
    background-color: #2822041a;
    background-clip: padding-box;
    border: 0px solid #ffd700;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.border-bottom_gpn {
    border-bottom: 1px solid #ffd700 !important;
}

.btn-link_gpn {
    font-weight: 600;
    color: #323232;
    text-decoration: underline;
}

.btn-gpn {
    color: #5271FF;
    background-color: white;
    border-color: white;
    font-size: x-large;
     font-weight: 600;
}

.pt-gpn-2 {
    padding-top: 0.8rem !important;
    font-weight: 600;
}

.text-gpn-yellow {
    color: #4a4a4a;
}

.text-large {
    font-size: large;
}

.text-h1-gpn {
    font-size: 3rem;
}

.-mt-6 {
    margin-top: -6rem !important;
}

.-mt-2 {
    margin-top: -2rem !important;
}

.rounded-logo-gpn {
    border-radius: 1rem !important;
}

.text-h2-gpn {
    font-size: 0.8rem;
}