<template>
    <div class="row justify-content-center">
        <div class="row">
            <div class="col shadow pt-2">
                <h4 class="py-2"><b>Dimensiones del paquete</b></h4>
                <div class="row">
                    <label for="number_ship" class="form-label fw-bold">Código Postal</label>
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="zip_from" v-model="zip_from" v-text="zip_from" placeholder="Remitente">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.zip_from" v-text="error.zip_from"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <input type="text" class="form-control" name="zip_to" v-model="zip_to" v-text="zip_to" placeholder="Destinatario">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.zip_to" v-text="error.zip_to"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="mb-3">
                            <label for="price" class="form-label fw-bold">Largo</label>
                            <input type="text" class="form-control" name="height" v-model="height" v-text="height" placeholder="cm">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.height" v-text="error.height"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="price" class="form-label fw-bold">Ancho</label>
                            <input type="text" class="form-control" name="width" v-model="width" v-text="width" placeholder="cm">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.width" v-text="error.width"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="price" class="form-label fw-bold">Alto</label>
                            <input type="text" class="form-control" name="length" v-model="length" v-text="length" placeholder="cm">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.length" v-text="error.length"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="mb-3">
                            <label for="price" class="form-label fw-bold text-primary">Peso</label>
                            <input type="text" class="form-control" name="weight" v-model="weight" v-text="weight" placeholder="kg">
                            <div v-for="error in errors">
                                <span class="text-danger" v-if="error.weight" v-text="error.weight"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between py-3">
                    <div class="bd-highlight">
                        <h5 class="mt-2"> <b class="text-danger">Peso Volumétrico: </b> <b v-text="volumetric_price"></b> <b> kg</b> </h5>
                    </div>
                    <div class="bd-highlight">
                      <button type="submit" @click.prevent="submit" class="btn btn-success">Cotizar</button>
                  </div>
                </div>
                <!-- Datos para el cliente -->
                <div class="row pt-4">
                    <h4 v-if="quotations.quotation" class="py-2"><b>Cotización para clientes</b></h4>
                    <div class="col">
                        <div class="form-floating" v-for="quotation in quotations">
                            <div v-if="quotation" class="pt-4">
                                <h5>Paquetería: <span class="text-darck f" v-text="quotation.name"></span> <span v-text="quotation.type"></span> </h5>
                                <h5>Fecha aproximada de entrega: <span style="color:black" v-text="quotation.date"></span></h5>
                                <h5>Precio: $<b v-text="quotation.price"></b> <b>MXN</b> </h5>
                                </br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Datos para administradores -->
            <div class="col">
                <h4 v-if="quotations.quotation" class="py-2"><b>Cotización para administradores</b></h4>
                <div v-for="error in errors">
                    <b class="text-danger" v-if="error.error" v-text="error.error"></b>
                </div>
                <div v-for="(quotation, index) in quotations">
                    <div v-if="quotation">
                        <div class="shadow p-3">
                            <div class="d-flex flex-row-reverse bd-highlight">
                              <div class="p-2 bd-highlight">
                                  <button type="button" class="btn-danger rounded" width="20px" @click="removeItem(index)">Eliminar</button>
                              </div>
                              <div class="p-2 bd-highlight">
                                  <!-- <img v-bind:src="quotation.provider_logo" width="10%" alt=""> -->
                              </div>
                            </div>
                            <h5>Paquetería: <span style="color:black" v-text="quotation.name"></span> <span v-text="quotation.type"></span> </h5>
                            <h5>Fecha aproximada de entrega: <span style="color:black" v-text="quotation.date"></span></h5>
                            <h5>Precio de compra: $<span class="text-danger" v-text="quotation.price_skydropx"></span> MXN</h5>
                            <h5><b>Precio de venta: $</b> <b v-text="quotation.price"></b> MXN </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            user: {
                type: Object,
                required: false
            }
        },
        data() {
            return {
                'textError': 'Campo requerido',
                'completed': null,
                'zip_from': '',
                'zip_to': '',
                'weight': '',
                'height': '',
                'width': '',
                'length': '',
                'quotations':[],
                'errors': [],
                'volumetric_price':''
            }
        },
         watch: {
            zip_from:function(zip_from) {
                this.errors = []
                if (! isNaN(this.zip_from) && this.zip_from.length > 5 ) {
                    this.errors.push({
                        zip_from: 'El codigo postal debe ser de 5 dígitos.'
                    })
                }
                if (isNaN(this.zip_from)) {
                    this.errors.push({
                        zip_from: 'Debes ingresar sólo números.'
                    })
                }
            },
            zip_to:function(zip_to) {
                this.errors = []
                if (! isNaN(this.zip_to) && this.zip_to.length > 5 ) {
                    this.errors.push({
                        zip_to: 'El codigo postal debe ser de 5 dígitos'
                    })
                }
                if (isNaN(this.zip_to)) {
                    this.errors.push({
                        zip_to: 'Debes ingresar sólo números.'
                    })
                }
            },
            weight:function(weight) {
                this.errors = []
                if (isNaN(this.weight)) {
                    this.errors.push({
                        weight: 'Debes ingresar sólo números.'
                    })
                }
            },
            height:function(height, width, length) {
                this.errors = []
                if (isNaN(this.height)) {
                    this.errors.push({
                        height: 'Debes ingresar sólo números.'
                    })
                }
                this.volumetric_price = (this.height * this.width * this.length) / 5000
            },
            width:function(height, width, length) {
                this.errors = []
                if (isNaN(this.width)) {
                    this.errors.push({
                        width: 'Debes ingresar sólo números.'
                    })
                }
                this.volumetric_price = (this.height * this.width * this.length) / 5000
            },
            length:function(height, width, length) {
                this.errors = []
                if (isNaN(this.length)) {
                    this.errors.push({
                        length: 'Debes ingresar sólo números.'
                    })
                }
                this.volumetric_price = (this.height * this.width * this.length) / 5000
            }
          },
        methods: {
            submit() {
                this.errors = []
                this.quotations = []
                this.chechForm()
                if (this.zip_from && this.zip_to && this.weight && this.height && this.width && this.length) {
                    axios.post(`/admin/quotations/store`, {
                        user_id: this.user.id,
                        zip_from: this.zip_from,
                        zip_to: this.zip_to,
                        weight: this.weight,
                        height: this.height,
                        width: this.width,
                        length: this.length
                    }).then(({data}) => this.onSucces(data))
                     .catch(error => this.errors)
                }
            },
            onSucces(data) {
                if (data.error) {
                    this.quotations = []
                    this.errors.push({
                        error: data.message
                    })
                }

                if (! data.error) {
                    this.quotations = data
                }
            },
            chechForm() {
                if (! this.zip_from) {
                    this.errors.push({
                        zip_from: this.textError
                    })
                }
                if (! this.zip_to) {
                    this.errors.push({
                        zip_to: this.textError
                    })
                }
                if (! this.weight) {
                    this.errors.push({
                        weight: this.textError
                    })
                }
                if (! this.height) {
                    this.errors.push({
                        height: this.textError
                    })
                }
                if (! this.width) {
                    this.errors.push({
                        width: this.textError
                    })
                }
                if (! this.length) {
                    this.errors.push({
                        length: this.textError
                    })
                }
            },
            removeItem: function(index) {
                this.quotations.splice(index, 1)
            }
        }
    }
</script>
